footer{
  p,li{
    line-height: 1.55;
  }
  .widget{
    margin-bottom: 50px;
  }
  .widget-title{
    font-size: 18px;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 40px;
  }
  .widget-bloginfo{
    .logo.bloginfo-logo{
      margin-top: -3px;
      .logo-text{
        padding-left: 2px;
        position: relative;
        bottom: 2px;
        font-weight: 400;
        font-size: 28px;
      }
    }
    .logo:hover{
      opacity: 0.6;
    }
    .description{
      margin: 25px 0;
    }
    .social-icons{
      li{
        margin-left: 8px;
        margin-right: 8px;
      }
      li:first-child{
        margin-left: 0px;
      }
    }
  }
  .course-widget-item{
    .course-thumbnail{
      margin-right: 20px;
      img{
        max-width: 200px;
      }
      a:hover{
        opacity: 0.8;
      }
    }
    .course-info{
      line-height: 1.55;
    }
  }
  .widget-nav{
    .menu{
      li{
        display: flex;
        align-items: center;
        a{
          padding-top: 6px;
          padding-bottom: 5px;
          width: 100%;
          border-bottom: 1px solid rgba(255, 255, 255,0.5);
          line-height: 30px;
        }
      }
    }
  }
  .widget-list-icons{
    .list-icons{
      li{
        display: flex;
        margin-bottom: 10px;
        .icon-styled{
          margin-right: 10px;
          line-height: inherit;
        }
      }
    }
  }
}


@media screen and (min-width:768px) {
  footer{
    .widget-bloginfo{
      .description{
        margin: 40px 0;
      }
    }
  }
}
@media screen and (min-width:992px){
  footer{
    .course-widget-item{
      .course-info{
        margin-top:-5px;
      }
    }
    .menu{
      margin-top: -7px;
    }
  }
}
